body{
    background-color: rgb(190,200,235);
    margin: 100px;
}

header{
    background-image: url(hatter.jpg);
    border-top: 5px solid rgb(30,45,100);
    border-bottom: 2px solid rgb(30,45,100);
    border-left: 10px;
    border-right: 10px;
    border-radius: 10px;
    text-align: center;
}

footer{
    background-color: rgb(30,45,100);
    text-align: left 10px;
    color: white;
    padding: 10px;
}

div{
    text-align: center;
    margin: auto;
}

table{
    width: 600px;
    margin: 0 auto;
    text-align: left;
}

div#kicsi{
    width: 600px;
    margin: 0 auto;
    text-align: center;
    border-radius: 5px;
    border-right: 2px solid rgb(30,45,100);
    border-left: 2px solid rgb(30,45,100);

}

div#a{
    text-align: left;
}

h2{
    text-align: center;
}

div#miki{
    transform: rotate(8deg);
}

span{
    text-align: center;
    font-weight: bold;
}

span#a{
    text-align: center;
    font-style: italic;
    font-weight: bold;
}

p#a{
    font-weight: bold;
}

p#b{
    text-align: center;
}